parameters:
	level: 8
	reportUnmatchedIgnoredErrors: false
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	paths:
		- src
		- tests
	ignoreErrors:
		- '#Cannot cast mixed to int.#'
